<!--
=========================================================
* Hyphen8 APIs - v0.0.1
=========================================================
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      Hyphen8 APIs - {% block title %} Client APIs {% endblock %} | Hyphen8
    </title>
    <link rel="icon" href="/static/assets/img/brand/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">
    {% block stylesheets %}{% endblock stylesheets %}
  </head>
  <body class="bg-default">
    <div class="main-content">
      {% include "includes/navigation-fullscreen.html" %}
      <div class="header bg-primary py-7 py-lg-8">
      </div>
      {% block content %}{% endblock content %}
      {% include "includes/footer-fullscreen.html" %}
    </div>
    {% include "includes/scripts.html" %}
    {% block javascripts %}{% endblock javascripts %}
    <script src="/static/assets/js/argon.js?v=1.2.0"></script>
</body>
</html>
