<!--
=========================================================
* Hyphen8 APIs - v0.0.1
=========================================================
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      Hyphen8 APIs - {% block title %} Client APIs {% endblock %} | Hyphen8
    </title>
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="/static/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/static/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/hyphen8api.min.css" type="text/css">
    {% block stylesheets %}{% endblock stylesheets %}
  </head>
  <body class="">
    {% include "includes/sidenav.html" %}
    <div class="main-content" id="panel">
      {% include "includes/navigation.html" %}
      {% block content %}{% endblock content %}
    </div>
    {% include "includes/scripts.html" %}
    {% block javascripts %}{% endblock javascripts %}
    <script src="/static/js/hyphen8api.min.js"></script>
  </body>
</html>
