{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block content %}
<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 250px; background-image: url(/static/img/cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1 class="display-2 text-white"> 
          Hello {{ request.user.first_name }}
        </h1>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Dashboard</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="mt-4">
            <h2>Subscription Status</h2>
            {% if has_active_subscription %}
                <p>You have an active subscription.</p>
            {% else %}
                <div class="alert alert-warning">
                    <strong>No Active Subscription:</strong> You currently have no active subscriptions.
                    <p class="mt-2">To access our services, please subscribe to a plan that fits your needs.</p>
                    <a type="button" class="btn btn-secondary my-4" href="{% url 'subscriptions:subscription_options_list' %}" class="text-light">View Subscription Plans</a>
                </div>
            {% endif %}
          </div>

          {% if has_active_subscription and api_usage_stats %}
          <div class="row">
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">API Total Calls</h5>
                      <span class="h2 font-weight-bold mb-0">{{ api_usage_stats.api_calls_this_month }} / {{ api_usage_stats.subscription_limit }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{ api_usage_stats.api_calls_this_month_change_from_last_month }}%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">API Success Calls</h5>
                      <span class="h2 font-weight-bold mb-0">{{ api_usage_stats.api_calls_this_month_success }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{ api_usage_stats.api_calls_this_month_success_change_from_last_month }}%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">API Error Calls</h5>
                      <span class="h2 font-weight-bold mb-0">{{ api_usage_stats.api_calls_this_month_error }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{ api_usage_stats.api_calls_this_month_error_change_from_last_month }}%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <h3>Last 20 API Calls</h3>
          <table>
              <thead>
                  <tr>
                      <th>Timestamp</th>
                      <th>Status</th>
                      <th>Details</th>
                  </tr>
              </thead>
              <tbody>
                  {% for call in last_20_api_calls %}
                  <tr>
                      <td>{{ call.timestamp }}</td>
                      <td>{{ call.process_status }}</td>
                      <td>{{ call.details }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
