{% extends 'layouts/base.html' %}
{% block title %} New Salesforce Connection {% endblock title %}
{% block content %}
<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 250px; background-image: url(/static/img/cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1 class="display-2 text-white"> 
          Manage your Salesforce Connections
        </h1>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
                <h3>Add New Salesforce Connection</h3>
            </div>
          </div>
        </div>
          <div class="card-body">
            <form id="add-connection-form" method="POST" action="{% url 'salesforce_login' %}">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="connection-name">Connection Name</label>
                        <input type="text" id="connection-name" name="connection_name" class="form-control" required>
                    </div>
        
                    <div class="form-group">
                        <label for="org_type">Environment Type</label>
                        <select id="org_type" name="org_type" class="form-control" required>
                            <option value="Production" {% if form.org_type.value == 'Production' %} selected {% endif %}>Production</option>
                            <option value="Sandbox" {% if form.org_type.value == 'Sandbox' %} selected {% endif %}>Sandbox</option>
                            <option value="Developer" {% if form.org_type.value == 'Developer' %} selected {% endif %}>Developer</option>
                            <option value="ScratchOrg" {% if form.org_type.value == 'ScratchOrg' %} selected {% endif %}>ScratchOrg</option>
                        </select>
                    </div>
        
                    <div class="form-group">
                        <label for="instance_url">Instance URL</label>
                        <select id="instance_url" name="instance_url" class="form-control" required onchange="toggleCustomUrlField()">
                            <option value="https://login.salesforce.com" {% if form.instance_url.value == 'https://login.salesforce.com' %} selected {% endif %}>https://login.salesforce.com (Production)</option>
                            <option value="https://test.salesforce.com" {% if form.instance_url.value == 'https://test.salesforce.com' %} selected {% endif %}>https://test.salesforce.com (Sandbox)</option>
                            <option value="https://custom.my.salesforce.com" {% if form.instance_url.value == 'https://custom.my.salesforce.com' %} selected {% endif %}>https://custom.my.salesforce.com (MyDomain / ScratchOrg / Developer)</option>
                        </select>
                    </div>
        
                    <!-- Custom URL input (conditionally shown) -->
                    <div class="form-group" id="custom-url-field" style="display: none;">
                        <label for="custom_instance_url">Custom Salesforce URL</label>
                        <input type="url" id="custom_instance_url" name="custom_instance_url" class="form-control" placeholder="Enter custom Salesforce URL" {% if form.instance_url.value == 'custom.salesforce.com' %} required {% endif %}>
                    </div>
                <button type="submit" class="btn btn-primary">Add New Salesforce Connection</button>
                <a href="{% url 'connections' %}" class="btn btn-sm btn-primary">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}



{% block javascripts %}
<script>
    // JavaScript function to toggle the visibility of the custom URL field
    function toggleCustomUrlField() {
        var instanceUrl = document.getElementById("instance_url").value;
        var customUrlField = document.getElementById("custom-url-field");
        var customUrlInput = document.getElementById("custom_instance_url");

        // If 'custom.salesforce.com' is selected, show the custom URL field
        if (instanceUrl === "https://custom.my.salesforce.com") {
            customUrlField.style.display = "block";
            customUrlInput.required = true;  // Make the custom URL field required
        } else {
            customUrlField.style.display = "none";
            customUrlInput.required = false;  // Remove the required attribute if not selected
        }
    }

    // Call the function on page load to set the initial state
    window.onload = function() {
        toggleCustomUrlField();
    }
</script>
{% endblock javascripts %}